.profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 16px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
}

.name {
    font-weight: bold;
    margin-bottom: 3px;
}

.other-name {
    color: gray;
    margin-bottom: 5px;
}

.category {
    font-size: 14px;
    color: gray;
}

.follow-button {
    color: white;
    background-color: #1d9bf0;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}