.container {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    width: 100px;
}

.item2 {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 200px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.element {
    background-color: black;
    color: white;
}