body {
    color: gray;
    font-family: Arial;
    font-size: 16px;
}

.email-box {
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    padding: 7px 0px;
}

.agree-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    width: 400px;
    padding: 16px 0px;
    font-size: 20px;
    border-radius: 30px;
}