.dialog-box {
    background-color: black;
    display: inline-block;
    width: 360px;
    padding: 20px 15px;
}

p {
    font-family: Arial;
    margin: 0;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.more-info {
    color: gray
}